.form {
  .adresWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 15px;

    @media (max-height: 500px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .full {
    grid-column: 1/3;
    @media (max-height: 500px) {
      grid-column: 1/5;
    }
  }
}
